body{

}
a:hover {
  color: #d66360 !important;
}
.header{
  padding: 25px 0 40px 0;
}
.header a{
  color: #666666;
}
.footer{
  font-size: 0.8rem;
  padding-bottom: 30px;
}
.coral{
  color: #d66360;
}
.colorbar{
  border-top: #d66360 solid 3px;
  width: 30px;
  margin-bottom: 7px;
}

/* CSS used here will be applied after bootstrap.css */
.ekko-lightbox-nav-overlay a {
  color: goldenrod;
}
.gallery-title {
  text-align: center;
  font-weight: 500;
  border-bottom: 1px dotted orange;
  margin-top: 1em;
}

